.App {
    background-color: #f1f2f5;
    min-height: 100vh;
    /* min-width: 100vw;
    max-width: 100vw; */
}

.app__body {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    width: 100%;
}
